/*  Custom Styles */

/* Your Custom Styles */
.footer {
  position: relative;
  height: 549.58px;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/footer/footer-background-img.png');
  background-size: cover;
  position: relative;
}
.footer-container {
  position: absolute;
  /* top: 189px; */
  bottom: 100px;
}
.footer-logo {
  height: 26px;
  height: 26px;
  margin-top: -6px;
  margin-right: 8px;
}

.footer-site-logo-name {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.footer-para {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 24px;
  width: 320px;
}
.footer-line {
  width: 352px;
  height: 1px;
  background: #a9a9e8;
}
.footer-phone-num {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
}
.footer-all-right-reserved {
  display: flex;
  flex-shrink: 0;
  margin-top: 24px;
  color: var(--Cold-Grey-white, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-weight: lighter;
  color: #a2c1cb;
}

.footer ul li a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3px;
}
.footer ul li {
  margin-bottom: 15px;
}
.footer-inside-container ul li:first-child {
  margin-top: 24px;
}
.footer-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-social-icon div a img {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  margin-top: 5px;
}
.footer-social-icon div {
  margin-top: 15px;
}
.footer-call-us {
  color: #fff;
  margin-top: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-left {
  justify-content: space-between;
  width: 100%;
}
.footer-right {
  justify-content: space-around;
  width: 100%;
}
.footer-bottom {
  position: absolute;
  bottom: 70px;
}
.footer-bottom div ul li {
  margin-top: 63px;
  font-family: 'Roboto', sans-serif;
  margin-right: 25px;
  color: var(--Cold-Grey-white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Email Us Section  */
.email-us-container {
  position: relative;
  height: 232px;
  width: 100%;
  background-image: url('../img/index/email-us/background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 81px;
  margin-top: 105px;
  margin-bottom: 81px;
}
.email-us-container h4 {
  color: #fff;
  font-size: 32px;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 121.8%;
}
.email-us-container p {
  color: #fff;
  font-size: 16px;
}
.email-para {
  margin-top: -16px;
}
.email-contact-button a {
  border-radius: 126px;
  background-color: white !important;
  color: #3232d3 !important;

  font-weight: 600;
}
.email-contact-button {
  position: absolute;
  right: 105px;
  top: 105px;
}

/* responsive  */
@media (max-width: 1202px) {
  .footer-line {
    width: 300px;
  }
}
@media (max-width: 993px) {
  .footer-inside-container {
    flex-direction: column;
  }
  .footer-left {
    justify-content: space-between;
  }
  .footer-right {
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer {
    height: 720px;
  }
  .footer-bottom {
    bottom: 16px;
  }
}

@media (max-width: 500px) {
  .footer {
    height: 800px;
  }
  .footer-inside-container {
    flex-direction: column;
  }
  .footer-left {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (max-width: 550px) {
  .footer-last-para ul {
    justify-content: space-between;
  }
  .footer-bottom div ul li {
    margin-right: 0;
  }
  .footer-line {
    width: 268px;
  }
}

/* Email Us Section  */
@media (max-width: 992px) {
  .email-contact-button {
    right: 60px;
    top: 116px;
  }
}
@media (max-width: 768px) {
  .email-contact-button {
    bottom: 20px;
    top: auto;
    left: 90px;
    right: auto;
  }
}
@media (max-width: 435px) {
  .email-us-container {
    height: 350px;
    padding: 30px;
  }
  .email-contact-button {
    left: 46px;
  }
}
