/*  Custom Styles */
@import url('root.css');
/* Your Custom Styles */
.footer {
  position: relative;
  height: 549.58px;
  font-family: 'Roboto', sans-serif;
  background-image: var(--footer-background-img);
  background-size: cover;
  position: relative;
}
.footer-container {
  position: absolute;
  /* top: 189px; */
  bottom: 100px;
}

.footer-site-logo-name {
  color: var(--footer-text-color);
  font-family: var(--footer-site-logo-name-font-family);
  font-size: 37px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -7px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: var(--footer-line-background-color);
}

.footer-all-right-reserved {
  display: flex;
  flex-shrink: 0;
  margin-top: 24px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-weight: lighter;
  margin-left: 125px;
  color: var(--footer-all-right-reserved-color);
}

.footer ul li a {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3px;
}
.footer ul li {
  margin-bottom: 15px;
  color: var(--footer-text-color);
}
.footer-inside-container ul li:first-child {
  margin-top: 24px;
}
.footer-inside-container ul li span {
  color: var(--footer-text-color);
  font-weight: 700;
  font-size: 15px;
}
.footer-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.footer-bottom {
  position: absolute;
  bottom: 14px;
}
.footer-bottom div ul li {
  margin-top: 63px;
  margin-right: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-bottom div ul li a {
  margin-top: 63px;
  margin-right: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-right-small-width {
  display: none;
}
/* responsive  */
@media screen and (max-width: 770px) {
  .footer {
    height: 656px;
  }
  .footer-right {
    display: none;
  }
  .footer-right-small-width {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-top-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .footer-bottom-part {
    display: flex;
    margin-top: 41px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer-container {
    bottom: 72px;
  }
  .fotter-card-img {
    margin-top: 27px;
  }
  .fotter-small-width-link {
    width: 100%;
    margin-top: 25px;
  }
  .fotter-small-width-link ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -19px;
    margin-bottom: -6px;
  }
}
