@import url('root.css');
/* Brain Quizzes  Section */
body {
  background: var(--index-container-body-background-color);
}
.brain-quizzes {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 25px;
}
.brain-quizzes-card {
  display: flex;
}
.brain-quizzes-card-1,
.brain-quizzes-card-2,
.brain-quizzes-card-3 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1;
}
.brain-quizzes-card-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.brain-quizzes-card-1,
.brain-quizzes-card-2,
.brain-quizzes-card-3 {
  position: relative;
}

.quizz-line {
  position: absolute;
  width: 1px;
  right: 0px;
  height: auto;
}

.brain-quizzes h3 {
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--brain-quizzes-text-color);
  margin-bottom: 34px;
}
.brain-quizzes-card-top img {
  width: 180px;
  height: 102.273px;
  flex-shrink: 0;
}
.brain-quizzes-card-bottom h5 {
  color: var(--brain-quizzes-text-color);
  font-size: 18.31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 35px;
  height: 30px;
}
.brain-quizzes-card-bottom p {
  color: var(--brain-quizzes-text-color);
  font-size: 15.31px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}

.brain-quizzes-card-1 h2,
.brain-quizzes-card-2 h2,
.brain-quizzes-card-3 h2 {
  color: var(--brain-quizzes-numbers-color);
  font-family: 'Exo', sans-serif;
  font-size: 62.31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 0;
  right: 15px;
}

/* Speed Games Section,Problem Solving Games,Memory Games,Attention Games*/
.container-each-section {
  margin-top: 108px !important;
}
.container-heading-para-of-each-section h2 {
  font-family: var(--index-container-heading-of-each-section-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--index-container-heading-of-each-section-color);
}
/* .container-heading-para-of-each-section p {
  color: var(--index-container-heading-para-of-each-section-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.8%;
} */
.card-div-of-img-each-section {
  background-color: var(--index-container-card-background-img-color);

  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.card-div-of-each-section {
  border-radius: 17px !important;
}
.card-div-of-texts-each-section {
  background: var(--index-box-background-color);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  padding-bottom: 70px;
  position: relative;
}
.card-div-of-texts-each-section h5 {
  color: var(--index-container-card-text-heading-color);
}
.card-div-of-texts-each-section p {
  color: var(--index-container-card-text-para-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.8%;
}
.card-div-of-right-arrow-button a {
  position: absolute;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
}

/* Style for circular buttons */
.circular-buttons-below-sections {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.circular-buttons-below-sections div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}
.circular-button-1 {
  background-color: var(--index-container-card-below-circular-button-1);
}
.circular-button-2 {
  background-image: var(--index-container-card-below-circular-button-2);
  background-color: transparent !important;
}
.circular-button-3 {
  background-color: var(--index-container-card-below-circular-button-3);
}
/* Our Happy Clients Section  */
.happy-client-carousel-content {
  display: flex;
  flex-direction: row;
}
.happy-client-container {
  margin-top: 50px;
}
.happy-client-bracket-up-1,
.happy-client-bracket-down-2,
.happy-client-bracket-down-1,
.happy-client-bracket-up-2 {
  width: 95.333px !important;
  height: 95.332px;
}
.happy-client-bracket-up-1 {
  margin-right: 13px;
  opacity: 1;
}
.happy-client-bracket-down-1 {
  display: none !important;
  opacity: 0;
}
.happy-client-bracket-up-2 {
  display: none !important;
  opacity: 0;
}
.happy-client-bracket-down-2 {
  margin-top: 251px;
  margin-left: 13px;
  opacity: 1;
}

.happy-client-message {
  border-radius: 17px;
  background: var(--index-happy-client-background-color);
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.happy-client-message img {
  position: absolute;
  bottom: -14px;
  left: 84px;
  height: 36px;
  width: 51px !important;
}
.happy-client-content {
  position: relative;
  height: 200px;
}
.happy-client-biodata {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 40px;
  left: 117px;
  top: 29px;
}
.happy-client-card-border-none {
  border: none !important;
  background: var(--happy-cliend-background-color);
}
.happy-client-biodata div {
  margin-left: 12px;
  margin-top: 25px;
}
.happy-client-biodata img {
  width: 81px !important;
  height: 81px;
}
.happy-client-biodata h4 {
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 0em;
  text-align: left;
  color: var(--index-happy-client-biodata-heading-color);
}
.happy-client-biodata p {
  color: var(--index-happy-client-biodata-heading-color);
  font-size: 16px;
  /* font-family: var(--index-happy-client-biodata-para-font-family); */
  margin-top: -8px;
  margin-left: 1px;
}
.happy-client-container-1 {
  margin-right: 14px;
}
.happy-client-container-2 {
  margin-left: 14px;
}
/* responsive  */

/* Brain-Quizzes-section  */
@media (max-width: 1120px) {
  .brain-quizzes-first-heading {
    width: 205px;
  }
  .brain-quizzes-card-bottom h5 {
    height: 50px;
  }
}
@media (max-width: 990px) {
  .brain-quizzes-card-1 h2,
  .brain-quizzes-card-2 h2,
  .brain-quizzes-card-3 h2 {
    font-size: 40px;
  }
}
@media (max-width: 750px) {
  .brain-quizzes-card {
    flex-direction: column;
  }
  .brain-quizzes-first-heading {
    width: auto;
  }
  .brain-quizzes-card-bottom h5 {
    height: auto;
  }
  .quizz-line {
    display: none;
  }
  .brain-quizzes-card-1,
  .brain-quizzes-card-2,
  .brain-quizzes-card-3 {
    border: 1px solid #cecece;
    border-radius: 7px;
    margin-bottom: 27px;
  }
  .brain-quizzes-card-1 h2,
  .brain-quizzes-card-2 h2,
  .brain-quizzes-card-3 h2 {
    top: 10px;
  }
  .brain-quizzes h3 {
    font-size: 30px;
  }
}

/* Speed Games Section,Problem Solving Games,Memory Games,Attention Games*/
@media (max-width: 750px) {
  .container-heading-para-of-each-section h2 {
    font-size: 30px;
  }
  .card-div-of-each-section {
    border-radius: 27px !important;
  }
  .card-div-of-img-each-section {
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
  }
  .card-gap-for-smaller-width {
    margin-bottom: 20px;
  }
}

/* Happy Client Section  */
@media (max-width: 992px) {
  .happy-client-bracket-down-1 {
    /* display: block !important; */

    margin-left: 13px;
    opacity: 1;
  }

  .happy-client-bracket-down-2 {
    margin-top: 340px;
    opacity: 1;
  }
  .happy-client-biodata {
    flex-direction: column;
    left: 42px;
  }
  .happy-client-message img {
    left: 19px;
  }
}

@media (max-width: 768px) {
  .happy-client-bracket-up-1,
  .happy-client-bracket-down-2,
  .happy-client-bracket-down-1,
  .happy-client-bracket-up-2 {
    display: none;
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .happy-client-carousel-content {
    flex-direction: column;
  }
  .happy-client-biodata {
    left: 23px;
  }
  .happy-client-container-1 {
    margin-right: auto;
  }
  .happy-client-container-2 {
    margin-left: auto;
  }
}
@media (max-width: 416px) {
  .happy-client-heading-font {
    line-height: 39px !important;
  }
}
